 /* RESET RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

/* utility classes */
.container {
    max-width: 980px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.button-small {
    padding: 8px 15px;
    border-radius: 20px;
}

.button-large {
    padding: 10px 18px;
    border-radius: 20px;
}

    /* background colors classes */
.bg-grey {
    background-color: #f6f6f6;
}

.bg-darkgrey {
    background-color: #23272a;
}

.bg-blue {
    background-color: #00008b;
}


    /* 12 column layout classes */
.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}

.col-12 {
    flex-basis: 100%;
}

/* HEADER STYLING SECTION */
.page-header {
    background-color: #255ee9;
    padding: 20px 0;
}

.nav-links-wrapper {
    display: flex;
    gap: 30px;
    font-size: 14px;
    color: white;
}

.nav-login {
    font-size: 15px;
}

.nav-login .login-button {
    background-color: white;
}

/* main content */
.section {
    padding: 100px 0;
}

.main-content .section {
    color: #292841;
}

.main-content .section h2 {
    font-size: 40px;
}

    /* hero */
.hero {
    padding: 80px 0;
    text-align: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.hero-title, .hero-paragraph, .open-discord-button {
    color: white;
}

.hero-title {
    font-size: 40px;
    margin-bottom: 40px;
}

.hero-paragraph {
    margin-bottom: 25px;
    line-height: 1.5em;
}

.dowload-button {
    background-color: white;
    margin-right: 20px;
    
}

.open-discord-button {
    background-color: #23272a;
}

/* CHAT ILLUSTRATION SECTION */
.features-description {
    padding: 25px 60px;
}

.features-description h2 {
    padding-bottom: 20px;
}

.features-description p {
    line-height: 1.5em;
}



/* debug selectors */

/* .debug .container {
    border-right: 2px solid black;
    border-left: 2px solid black;
} */

/* .debug nav {
    background-color: darkgoldenrod;
} */

/* .debug nav > .row {
    padding: 5px;
} */

/* .debug .row {
    border: 3px dashed rgb(17, 248, 0);
} */

/* .debug .col {
    border: 2px dotted red;
} */

/* .debug .button {
    background-color: red;
} */

/* .debug .main-content .col {
    min-height: 400px;
    background-color: pink;
} */
/* 
.debug .col.col-7 {
    background-color: cyan;
} */

.debug .col.col-12 {
    background-color: green;
    min-height: 500px;
}

.debug .main-footer .col {
    min-height: 400px;
}

.debug .main-footer {
    padding: 5px 0 20px 0;
    border-bottom: 2px solid white;
}

.debug .main-footer .row {
    background-color:darkcyan;
}

.debug .main-footer .col:first-child {
    background-color: darksalmon;
}

.debug .footer-bar {
    padding-top: 15px;
}

.debug .footer-bar .row {
    padding: 20px 0;
    background-color:aquamarine;
}

.debug .footer-bar .row > .col {
    padding: 3px 10px;
    background-color: rgb(252, 190, 183);
}