 /* RESET RULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

p {
    line-height: 1.5em;
}

select {
    background: transparent;
    color: white;
    border: none;
}

svg {
    margin-bottom: -10px;
}

.rotated-svg {
    transform: rotate(180deg);
}

/* UTILITY CLASSES */

.container {
    max-width: 980px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.button-small {
    padding: 8px 15px;
    border-radius: 20px;
}

.button-large {
    padding: 10px 18px;
    border-radius: 20px;
}

    /* BACKGROUND UTILITY CLASSES */

.bg-grey {
    background-color: #f6f6f6;
}

.bg-darkgrey {
    background-color: #23272a;
}

.bg-blue {
    background-color: #00008b;
}


    /* 12 COLUMN'S LAYOUT CLASSES */

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}

.col-12 {
    flex-basis: 100%;
}

/* HEADER STYLING SECTION */

.page-header {
    background-color: #255ee9;
    padding: 20px 0;
}

.nav-links-wrapper {
    display: flex;
    gap: 30px;
    font-size: 14px;
    color: white;
}

.nav-login {
    font-size: 15px;
}

.nav-login .login-button {
    background-color: white;
}

/* MAIN CONTENT */

.section {
    padding: 100px 0;
}

.main-content .section {
    color: #292841;
}

.main-content .section h2 {
    font-size: 40px;
}

    /* hero */
.hero {
    padding: 80px 0;
    text-align: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.hero-title, .hero-paragraph, .open-discord-button {
    color: white;
}

.hero-title {
    font-size: 40px;
    margin-bottom: 40px;
}

.hero-paragraph {
    margin-bottom: 25px;
}

.dowload-button {
    background-color: white;
    margin-right: 20px;
    
}

.open-discord-button {
    background-color: #23272a;
}

/* FEATURES-CARD SECTIONS */

.features-description {
    padding: 25px 60px;
}

.features-description h2 {
    padding-bottom: 20px;
}

.features-big-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#features-big-img {
    margin-bottom: 30px;
}

.features-question > h3 {
    padding: 30px;
    font-size: 25px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.features-question > a {
    background-color:#8ea1e1;
    color: white;
}

/* FOOTER SECTIONS */

.footer-content {
    color: white;
}

.purple-title {
    color: #7289da;
    margin-bottom: 10px;
}

.main-footer {
    padding: 60px 20px 20px 20px;
}

.main-footer .container {
    border-bottom: 1px solid #7289da;
}

.select-language {
    height: 20px;
}

.footer-contacts {
    padding-right: 40px;
}

.footer-contacts > * {
    margin-bottom: 20px;
}

.footer-contacts h3 {
    font-size: 30px;
}

.footer-social-icons i {
    padding-right: 15px;
}

.links-section {
    margin-right: 20px;
    font-size: 14px;
} 

.links > li {
    margin-bottom: 15px;
}

/* FOOTER BAR SECTION */

.footer-bar .col > .button-small {
    background-color: #8ea1e1;
    font-size: 15px;
}

.footer-bar {
    padding: 20px 0 70px 0;
}
